.parent {
   display: flex;
   height: 20%;
   background-color: #f7f7f7;
   align-items:center;
   justify-content: space-between;
}


.samuel {
    display: flex;
    width: 20%;
    height: 20%;
    text-transform: uppercase;
    font-size: 40px;
}

.muhammed {
    display:flex;
    width: 40%;
    justify-content: space-evenly;
}

.martha {
    display: flex;
}